<div class="container">
 
    
    <h3><center>EventList</center></h3>
    <div class="list-group">
            {{# each eventLists}}
               
                <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading"><strong>Event:{{name}}</strong> </h4>
    <p class="list-group-item-text"><strong> Start time:</strong> {{startTime}}</p>
    <p class="list-group-item-text"><strong> End Time:</strong>  {{endTime}}</p>
    <p class="list-group-item-text"><strong> Location: </strong> {{location}}</p>
    <p class="list-group-item-text"><strong> Published: </strong> {{published}}</p>
    <p class="list-group-item-text"><strong> PublishDate: </strong> {{publishDate}}</p>
    <p class="list-group-item-text"><strong> description: </strong> {{description}}</p>
</a><br>
               
            {{/each}}
        
    </div>
</div>
